
<!DOCTYPE html>
<html>
<head>
<title>{{ photo.title }}</title>
<link rel="stylesheet" href="static/styles.css" />
</head>
<body>
<h1>{{ photo.title }}</h1>
<img src="{{ url_for('static', filename='uploads/' + photo.image_filename) }}" alt="{{ photo.title }}" />
<div class="photo-info">
<p>{{ photo.description }}</p>
<p>{{ photo.likes }} likes</p>
<form action="{{ url_for('like_photo') }}" method="post">
<input type="hidden" name="photo_id" value="{{ photo.id }}" />
<button type="submit">Like</button>
</form>
</div>
</body>
</html>

